.profile{
    border-radius: 500px;
    height: 50px;
    width: 50px;
    z-index: 1;
}

#post{
  width: 45em;
  height: 857px;
  border: 2px solid rgb(240, 240, 240);
  padding: 10px;
  margin-left: 0px;
  margin-top: 5px;
}





